<form
  class="form-horizontal"
  autocomplete="off"
  #createEditLocacionModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="title"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Información Personal'" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name"> Apellido </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="Apellido"
              id="Apellido"
              required
              maxlength="32"
              [(ngModel)]="Integrante.apellido"
              #apellidoModel="ngModel"
              #apellidoEl
            />
            <abp-validation-summary
              [control]="apellidoModel"
              [controlEl]="apellidoEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name"> Nombre </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="Nombre"
              id="Nombre"
              required
              maxlength="32"
              [(ngModel)]="Integrante.nombre"
              #NombreModel="ngModel"
              #NombreEl
            />
            <abp-validation-summary
              [control]="NombreModel"
              [controlEl]="NombreEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="Documento">
            Documento
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="Documento"
              id="Documento"
              required
              maxlength="32"
              [(ngModel)]="Integrante.documento"
              #DocumentoModel="ngModel"
              #DocumentoEl
            />
            <abp-validation-summary
              [control]="DocumentoModel"
              [controlEl]="DocumentoEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="Domicilio">
            Domicilio
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="Domicilio"
              id="Domicilio"
              required
              maxlength="32"
              [(ngModel)]="Integrante.domicilio"
              #DomicilioModel="ngModel"
              #DomicilioEl
            />
            <abp-validation-summary
              [control]="DomicilioModel"
              [controlEl]="DomicilioEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name"> Mail </label>
          <div class="col-md-9">
            <input
              type="email"
              class="form-control"
              name="Mail"
              id="Mail"
              required
              maxlength="32"
              [(ngModel)]="Integrante.mail"
              #MailModel="ngModel"
              #MailEl
            />
            <abp-validation-summary
              [control]="MailModel"
              [controlEl]="MailEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="tel"> Teléfono </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="tel"
              id="tel"
              required
              maxlength="32"
              [(ngModel)]="Integrante.telefono"
              #telModel="ngModel"
              #telEl
            />
            <abp-validation-summary
              [control]="telModel"
              [controlEl]="telEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name"> Género </label>
          <div class="col-md-9">
            <select
              [(ngModel)]="opcionSeleccionado"
              name="Integrante.sexo"
              class="form-control"
              (change)="capturar()"
              #sexoModel="ngModel"
              #sexoEl
            >
              <option *ngFor="let g of generos">
                {{ g.tipo }}
              </option>
            </select>

            <abp-validation-summary
              [control]="sexoModel"
              [controlEl]="sexoEl"
            ></abp-validation-summary>
          </div>
        </div>

        <!-- <app-imput-img
          [archviActual]="archicoActual"
          (archivoSeleccionadoEvent)="archivoSeleccionadoEvent($event)"
        ></app-imput-img> -->
      </tab>
      <!-- <tab [heading]="'Comisiones'" class="pt-3 px-2">
        <div class="form-group row mb-0">
          <ng-container *ngFor="let comisione of ComisionesList; let i = index">
            <div class="col-md-6">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  name="cur"
                  class="custom-control-input"
                  [id]="'comisione_' + i"
                  [checked]="isComisioneChecked(comisione.id)"
                  (change)="onComisioneChange(comisione, $event)"
                />
                <label class="custom-control-label" [for]="'comisione_' + i">
                  {{ comisione.description }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </tab> -->
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createEditLocacionModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
