<nav class="main-header navbar navbar-expand navbar-cyan navbar-light">
  <header-left-navbar></header-left-navbar>
  <ul class="navbar-nav ml-auto">
    <header-user-menu></header-user-menu>
  </ul>
</nav>
