<aside class="main-sidebar sidebar-dark-cyan elevation-4">
  <sidebar-logo></sidebar-logo>
  <div class="sidebar">
    <sidebar-user-panel></sidebar-user-panel>
    <sidebar-menu></sidebar-menu>
  </div>
</aside>
