<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>Integrantes</h1>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:;" class="btn bg-blue" (click)="create()">
            <i class="fa fa-plus-square"></i>
            Nuevo
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">&emsp;</div>
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button
                    type="button"
                    class="btn bg-blue"
                    (click)="getDataPage(1)"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="keyword"
                  [placeholder]="'Buscar...'"
                  [(ngModel)]="keyword"
                  (keyup.enter)="getDataPage(1)"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-striped table-bordered"
              [busy]="isTableLoading"
            >
              <thead class="bg-light">
                <tr>
                  <th>Apellido</th>
                  <th>Nombre</th>
                  <th>Documento</th>
                  <th>Domicilio</th>
                  <th>Email</th>
                  <th>Teléfono</th>
                  <th>Género</th>
                  <th>CIRC_NUMERO</th>
                  <th>COD_CIRC</th>
                  <th>Clase</th>
                  <th>DIRECCION</th>
                  <th>NRO_MESA</th>
                  <th style="width: 310px;text-align: center;">{{ "Actions" | localize }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let alumno of alumnos
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pageNumber,
                            totalItems: totalItems
                          }
                  "
                >
                  <td>{{ alumno.apellido }}</td>
                  <td>{{ alumno.nombre }}</td>
                  <td>{{ alumno.documento }}</td>
                  <td>{{ alumno.domicilio }}</td>
                  <td>{{ alumno.mail }}</td>
                  <td>{{ alumno.telefono }}</td>
                  <td>{{ alumno.sexo }}</td>
                  <td>{{ alumno.cirC_NUMERO }}</td>
                  <td>{{ alumno.coD_CIRC }}</td>
                  <td>{{ alumno.clase }}</td>
                  <td>{{ alumno.direccion }}</td>
                  <td>{{ alumno.nrO_MESA }}</td>
                  <td style="text-align: center;">
                    <button
                      type="button"
                      class="btn btn-sm bg-secondary"
                      (click)="edit(alumno)"
                    >
                      <i class="fas fa-pencil-alt"></i>
                      Editar
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm bg-danger mx-2"
                      (click)="delete(alumno)"
                    >
                      <i class="fas fa-trash"></i>
                      Borrar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer table-card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize: totalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls
                  id="server"
                  (pageChange)="getDataPage($event)"
                >
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
