<form
  class="form-horizontal"
  autocomplete="off"
  #createEditLocacionModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="title"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  
  <div class="modal-body">
    <label class="col-md-3 col-form-label" for="name">Buscar Integrante </label>
    <div class="ng-autocomplete">
      <ng-autocomplete
        [data]="data"
        [searchKeyword]="keyword2"
        (selected)="selectEvent($event)"
        (inputChanged)="onChangeSearch($event)"
        (inputFocused)="onFocused($event)"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
      >
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.description"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
       <button class="btn btn-primary" (click)="nuevoIntegrante()">Nuevo Integrante</button>
      </ng-template>
    </div>

    <div class="card-body">
      <div class="input-group-prepend">
        <label class="col-md-2 col-form-label fas fa-search" for="name"> Filtro </label>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            name="filter"
            id="filter"
            [placeholder]="'Buscar inscripto...'"
            [(ngModel)]="filterIntegrante.search"
            (ngModelChange) = "getDataIntegrantesFielter($event)"
          />

        </div>
      </div>
      <div class="table-responsive">
        <table
          class="table table-striped table-bordered"
          [busy]="isTableLoading"
        >
          <thead class="bg-light">
            <tr>
              <th style="width: 300px">Nombre Completo</th>
              <th>Autoridad</th>
              <th>Observación</th>
              <th style="width: 130px">{{ "Actions" | localize }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let alumno of alumnosComisionePaginate 
                  | paginate
                    : {
                        id: 'client',
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems
                      } ;let i = index;
              " 
            >
              <td>{{ alumno.nombreCompleto }}</td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Autoridad{{i}}"
                  id="tipoAutoridad"
                  [(ngModel)]="alumno.tipoAutoridad"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="observación{{i}}"
                  id="observacion"
                  [(ngModel)]="alumno.observacion"
                />
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm bg-danger mx-2"
                  (click)="deleteIntegranteList(alumno)"
                >
                  <i class="fas fa-trash"></i>
                  Borrar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer table-card-footer bg-light border-top">
      <div class="row">
        <div class="col-sm-4 col-12 text-sm-left text-center">

        </div>
        <div class="col-sm-4 col-12 text-center">
          <p class="mb-0 my-2">
            {{ "TotalRecordsCount" | localize: alumnosComisione.length }}
          </p>
        </div>
        <div class="col-sm-4 col-12">
          <div class="float-sm-right m-auto">
            <abp-pagination-controls
              id="client"
              (pageChange)="getDataPageIntegrantes($event)"
            >
            </abp-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createEditLocacionModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
