<form
  class="form-horizontal"
  autocomplete="off"
  #createEditLocacionModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="title"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name"> Denominación </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          required
          maxlength="32"
          [(ngModel)]="locacion.denominacion"
          #denominacionModel="ngModel"
          #denominacionEl
        />
        <abp-validation-summary
          [control]="denominacionModel"
          [controlEl]="denominacionEl"
        ></abp-validation-summary>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createEditLocacionModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
