<form
  class="form-horizontal"
  autocomplete="off"
  #createEditLocacionModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="title"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name"> Nombre </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          required
          [(ngModel)]="Comisione.nombre"
          #apellidoModel="ngModel"
          #apellidoEl
        />
        <abp-validation-summary
          [control]="apellidoModel"
          [controlEl]="apellidoEl"
        ></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name"> Barrio </label>
      <div class="col-md-9">
        <select
          [(ngModel)]="locSelect"
          name="locacion"
          class="form-control"
          (change)="capturar('LOC')"
          #locModel="ngModel"
          #locEl
        >
          <option [value]="loc.id" *ngFor="let loc of LocacionList">
            {{ loc.description }}
          </option>
        </select>

        <abp-validation-summary
          [control]="locModel"
          [controlEl]="locEl"
        ></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-1 col-form-label" for="fechaInicio"> Inicio </label>
      <div class="col-md-3">
        <input
          type="date"
          class="form-control"
          name="fechaInicio"
          id="fechaInicio"
          required
          [(ngModel)]="Comisione.fechaInicio"
          #fechaInicioModel="ngModel"
          #fechaInicioEl
        />
        <span *ngIf="id"
          >Actual: {{ Comisione.fechaInicio | date: "dd/MM/yyyy" }}</span
        >
        <abp-validation-summary
          [control]="fechaInicioModel"
          [controlEl]="fechaInicioEl"
        ></abp-validation-summary>
      </div>

      
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createEditLocacionModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
