<div class="login-logo">
  <h1>
    <div class="image">
      <img
        src="assets/img/sanluis_mainlogo3.jpg"
        width="360"
      />
    </div>
  </h1>
  <a href="/"><b>Comisiones Vecinales</b></a>
</div>
