<div class="card row">
  <div class="col-xs-12">
    <button
      type="button"
      class="btn btn-xs btn-info"
      style="margin-top: 5px; margin-bottom: 5px"
      (click)="fileInput.click()"
    >
      <i class="nav-icon fas fa-folder-open"></i> Seleccionar Archivo
    </button>
    <input type="file" (change)="change($event)" hidden #fileInput />
  </div>

  <div class="col-xs-12 form-group" *ngIf="archviActual">
    <button class="btn btn-xs btn-danger" (click)="delete()">
      <i class="nav-icon fas fa-trash-alt"></i>
    </button>
    <a
      class="btn btn-xs btn-warning"
      [href]="archviActual.path"
      target="_blank"
    >
      <i class="nav-icon fas fa-file"></i>
    </a>
    <span>
      {{ archviActual.fileName }} | {{ archviActual.sizeTranslated }}
    </span>
  </div>
</div>

<!-- <div *ngIf="imageBase64">
  <img [src]="imageBase64" />
</div>
<div *ngIf="archviActual">
  <img [src]="archviActual" />
</div> -->
